.App {
  display: flex;
  justify-content: center;
}

body {
  background: url('../public/hearts.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.love-calculator-container {
  margin-top: 100px;
  text-align: center;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


h1 {
  /* color: #ff0066; */
  font-size: 2rem;
}

.input-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-row input {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background: rgba(255, 212, 212, 0.8); /* Slightly opaque white */
}

.input-row input:focus {
  outline: none;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 5px 10px;
  background-color: rgb(255, 0, 102);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 120px;
  border: 2px solid white;
  margin: 10px;
  box-shadow: 0px 7px 20px -5px rgb(255, 0, 102);
}

button:hover {
  background-color: rgb(255, 51, 153);
  box-shadow: 0px 7px 20px -5px rgb(255, 51, 153);
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
  /* color: #ff0066; */
}
